include README.md
include NEWS.md
include LICENSE
include gpl-3.0.txt
include lgpl-2.1.txt
include meson.build
include pyproject.toml
include org.innir.gtranscribe.desktop.in
include org.innir.gtranscribe.appdata.xml
recursive-include data *
recursive-include gtranscribe *.py
recursive-include bin *
recursive-include po *.po *.pot *.mo
prune __pycache__
prune .git
prune builddir
global-exclude *.pyc
